.title {
    background-color: #eff5e4;
    margin-bottom: 10px;
    padding: 5px 0;
    text-align: center;
}

.cards{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 189px);
}
.boardcard {
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
}