.items {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 189px); 
}


.title {
    background-color: #eff5e4;
    margin-bottom: 10px;
    padding: 5px 0;
    text-align: center;
}

.cards{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 189px);
    margin-bottom: 10px;
    
}
.popularCategories {
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
} 
