.card {
    width: 200px;
    max-height: 189px;
    box-sizing: border-box;
    border: rgb(170, 170, 170) 1px solid;
    padding: 10px 4px;
}

.image{
    height: 95px;
    max-width: 150px;
    margin-bottom: 5px;
    overflow: hidden;
}

.link {
    padding: 5px 10px;
    width: auto;
    height: auto;
}

.title {
    width: 100%;
    
}