.header {
    width: 1200px;
    margin: 0 auto;
    padding: 5px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.info {
    
    display: block;
}

.list {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 7px;
}

li {
    margin-left: 7px;
    margin-bottom: 5px;
    padding-right: 7px;
}

.input {
    height: 46px;
    width: 500px;
}

.login {
    display: flex;
    
  
}
.entrance {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.cart {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-grow: 4;
}
